.enhanced-comment {
  /* display: grid; */
  /* grid-template-columns: 80px 1fr; */
  /* gap: 15px; */
  /* background-color: #f9f9f9; */
  /* border: 1px solid #ddd; */
  /* padding: 15px; */
  /* margin-bottom: 10px; */
}
